body {
  background-color: #f2f2f2;
  display: grid;
  height: 100vh;
  place-items: center;
}

.parent {
  width: auto;
  height: auto;
}

.boxOne {
  background-color: #e28525;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.boxTwo {
  background-color: #016972;
}

.boxThree {
  background-color: #00403f;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.box {
  float: left;
  padding: 60px;
  height: 500px;
  width: 230px;
  color: white;
}

img {
  height: 45px;
  padding-top: 10px;
}

.textBox {
  padding-top: 50px;
  font-size: 47px;
  font-family: "Big Shoulders Display", cursive;
}

.textBox1 {
  padding-top: 40px;
  font-family: "Lexend Deca", sans-serif;
  line-height: 25px;
  font-size: 15px;
}

.button {
  border-color: white;
  border-radius: 30px;
  border-color: white;
  position: absolute;
  border: 2px solid white;
  color: white;
  padding: 15px 33px;
  margin-top: 120px;
  font-family: "Lexend Deca", sans-serif;
  font-size: 13px;
}
